body, html {
  background: linear-gradient(to top right, #ff630f, #ffcf20);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.App {
  text-align: center;
  padding-bottom: 6.5rem;
  min-height: 100%;
}

.page-container {
  border-radius: 1rem;
  box-shadow: 0 .15rem 1rem 
    rgba(8, 8, 12, 0.1),0 .5rem 2rem 
    rgba(8, 8, 12, 0.1),0 1rem 3rem 
    rgba(8, 8, 12, 0.1)!important;
    padding: 2rem;
    margin: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 0 2rem 0 0;
  color: black !important;
}

img.brand-img {
  width: 3rem;
  height: 3.5rem;
}

.home-img {
  width: 100%;
  height: auto;
  align-items: center;
  margin: 10rem 0 0 2rem;
}

.name-txt {
  padding: 1rem 0 0 0;
}
.intro-txt {
  padding: 1rem 0 3rem 0;
}

.Typewriter {
  padding: 1rem;
}
.Typewriter__wrapper {
  font-size: 1.5rem !important;
}

.skills-row {
  justify-content: center;
}

.icon {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 .15rem 1rem 
    rgba(8, 8, 12, 0.1),0 .5rem 2rem 
    rgba(8, 8, 12, 0.1),0 1rem 3rem 
    rgba(8, 8, 12, 0.1)!important;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  padding: 0 0 .5rem 0;
  margin: 0 auto;
}

.icon-container a {
  color: rgb(255, 191, 28);
  font-size: 2rem;
  margin: 0 2rem;
}

.carousel-caption {
  position: sticky !important;
  color: black !important;
}

.projectImage {
  width: 20rem;
  height: 15rem;
  align-items: center;
  border-radius: .5rem;
  border-color: black;
  border-style: solid;
}

.footerTxt {
  margin: .15rem;
  color: rgb(254, 228, 125);
}

.footer {
  height: 6.5rem;
}