.App {
  text-align: center;
  padding-bottom: 6.5rem;
}

.page-container {
  border-radius: 1rem;
  box-shadow: 0 4px 16px 
    rgba(17,17,26,.1),0 8px 24px 
    rgba(17,17,26,.1),0 16px 56px 
    rgba(17,17,26,.1)!important;
    padding: 2rem;
    margin: 2rem;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  padding: 0 0 .5rem 0;
  margin: 0 auto;
}

.icon-container a {
  color: #fff;
  font-size: 2rem;
  margin: 0 2rem;
}

.carousel-caption {
  position: sticky;
  color: black !important;
}

.projectImage {
  width: 30rem;
  height: 25rem;
  align-items: center;
}

.footerTxt {
  margin: .15rem;
}

.footer {
  height: 6.5rem;
}